<div class="container">
  <header>
    <h1>Welcome to the blog</h1>
  </header>
  <hr/>
  <nav>
    <ul class="nav nav-pills">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/post/create">Create</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <hr>
  <% if (info = req.flash("info")) { %>
  <div>
    <blockquote>
      <%= info %>
    </blockquote>

  </div>
  <% } %>
  <% posts.forEach(function(post, index) { %>
  <article>
    <h2><%= post.title %></h2>
    <div class="content">
      <%= post.content %>
    </div>
    <br>
    <div class="link">
      <a href="/post/get/<%=post.id%>"><span class="glyphicon glyphicon-chevron-right"></span> link to <%=post.title%></a>
    </div>
  </article>
  <hr>
  <% }); %>
  
</div>
