<div class="container">
  <header>
    <h1>Content</h1>
  </header>
  <hr/>
  <nav>
    <ul class="nav nav-pills">
      <li><a href="/">Home <span class="badge"></span></a></li>
      <li><a href="/post/create">Create</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
  <hr>
  <h2><%=post.title%></h2>
    <table class="table table-hover">
      <tr>
       
          <td>
          <%= post.content %>
          </td>
      </tr>
      <tr>
        
          <td>
          <a href="/post/update/<%= post.id %>"><span class="glyphicon glyphicon-pencil"></span>update this</a>
          </td>
      </tr>
      <tr>
        
          <td>Latest update:
          <%= post.updatedAt %>
          </td>
      </tr>
      <tr>
        
          <td>
          <form action="/post/delete/<%= post.id %>" method="POST">
            <input type="submit" name="submit-btn" value="Delete" class="btn btn-danger">
          </form>
          </td>
      </tr>
    </table>
<hr>
</div>
